{
  "extends": "google",
  "parser": "babel-eslint",
  "strict": 0,
  "env": {
    "shared-node-browser": true,
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "indent": [2, 4],
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "max-len": [1, 120],
    "new-cap": 0
  },
  "plugins": [
    "react"
  ]

}
